name: Deploy Python App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            echo "Connected to EC2"

            # Install Docker if missing
            if ! command -v docker >/dev/null 2>&1; then
              sudo apt update -y || sudo yum update -y
              sudo apt install docker.io -y || sudo yum install docker -y
              sudo systemctl start docker
              sudo systemctl enable docker
              sudo usermod -aG docker $USER
            fi

            APP_DIR=$HOME/python-app

            if [ ! -d "$APP_DIR" ]; then
              git clone https://github.com/uspatil/python-docker-app.git $APP_DIR
            fi

            cd $APP_DIR
            git pull origin main

            docker stop python-app || true
            docker rm python-app || true

            docker build -t python-app .
            docker run -d \
              --restart always \
              --name python-app \
              -p 80:5000 \
              python-app
